<h1> Photo Details </h1>

<p>
  <%= @my_photo.caption %>
</p>

<img src="<%= @my_photo.source %>">

<p>
  <%= time_ago_in_words(@my_photo.created_at) %> ago
</p>

<a href="/photos" class="btn btn-secondary">Go back</a>
<a href="/photos/<%= @my_photo.id %>/edit" class="btn btn-secondary">Edit</a>
<a href="/delete_photo/<%= @my_photo.id %>" class="btn btn-secondary">Delete</a>
